@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    
}

.navbar{
    background: #f9f9f9;
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
   
}

.logo{
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

.logo span{
    color: #ffa500;
}

.navbar-toggle span{
    color: #ffa500;
}

.navbar-nav{
    margin-left: 20px;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-item .nav-link:hover{
    background: #ffa500;
    color: #f9f9f9;
    
}

.navbar form button{
    background: #ffa500;
    color: white;
    border: none;
}


/* home */

.home{
    width: 100%;
    height: 100vh;
    top:0;
    background-image: url("img/6345959.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content{
    text-align: center;
    padding-top: 400px;
}

.home .content h5{
    color: black;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}

.home .content h1{
    color: black;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: '';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}

@keyframes changetext{
    0%{content: " France"}
    10%{content: " India"}
    20%{content: " New York"}
    30%{content: " Italy"}
    40%{content: " Greece"}
    50%{content: " Egypt"}
    60%{content: " Spain"}
    70%{content: " United States"}
    80%{content: " China"}
    90%{content: " Pakistan"}
    100%{content: " Turkey"}
}
.home .content p{
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 30px;

}

.home .content a{
    padding: 10px;
    background: black;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.home .content a:hover{
    background-color: #ffa500;
    color: #f9f9f9;
    
}

@media(max-width: 850px){
    .home{
        background-position: 50%;
    }
}

@media(max-width: 450px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
}


/* book */
.book{
    background-color: #f0f0f0;
    padding: 30px;
    
}

.main-text h1{
    margin-top: -5px;
    text-align:  center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;

}
.main-text h1 span{
    color: #ffa500;
}

.book .card{
    border-radius: 30px;
    box-shadow: 0px 5px 6px -6px black;
    
}

.book .row{
    margin-top: 30px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.book form input{
    padding: 20px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: 0px 3px 3px -3px black;
}

.book form textarea{
    border: none;
    border-radius: 20px;
    resize: none;
    box-shadow: 0px 3px 3px -3px black;
    padding: 15px;
}

.submit{
    width: 160px;
    font-size: 16px;
    font-weight: 650;
    background: #ffa500;
    color: #f0f0f0;
    transition: 0.5s;
    
}

.book .submit:hover{
    transform: scale(1.1);
}

@media (max-width: 760px) {
    .book{
        padding: 0;
    }

    .main-text h1{
        padding: 20px;
    }
    
}

.pack{
    margin-top: 30px;
}

/* packages */
.main-text h1{
    text-align: center;
    margin: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.main-text h1 span{
    color: #ffa500;
    
}

.packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    margin-bottom:20px
    
}

.packages .card img{
    border-radius: 5px ;
    height: 250px;
}

.packages .card .card-body{
    background: transparent;
    padding: 15px;
}

.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.checked{
    color: #ffa500;
}

.star i{
    font-size: 15px;
}

.card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: #f9f9f9;
    border-radius: 5px;
    
}

/* services */

.services{
    background: #f9f9f9;
    margin-top: 50px;
}

.services .card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    border: none;
    cursor: pointer;
    background: #fff;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.services .card i{
    font-size: 80px;
    color: #ffa500;
    margin: 20px;  
    text-align: center;
}
.services .card .card-body h3{
    font-weight: 600;
}

/* gallary */

.gallary{
    margin-top: 50px;

}
.gallary .card{
    border-radius: 10px;
    box-shadow: rgbs(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer; 
    margin-bottom: 30px;
}

.gallary .card img{
    border-radius: 10px;
    transition: 0.5s;
}
.gallary .card img:hover{
    transform: scale(1.1);
}

/* about */

.about{
    padding: 50px;
    margin-top: 50px;
    background: #f9f9f9;
}

.about .card{
    border-radius: 10px;
}

.about .card img{
    border-radius: 10px;
}

.about h2{
    font-weight: 600;
    letter-spacing: 1px;
}
.about p{
    font-size: 500;
}
#about-btn{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: #f9f9f9;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover{
    transform: scale(1.1);
}

#footer{
    width: 100%;
    margin-top: -20px;
    text-align: center;
    background: #f9f9f9;

}
#footer h1{
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}

#footer h1 span{
    color: #ffa500
}

.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover{
    background: #ffa500;
}

